<link rel="stylesheet" href="stylesheets/contact.css">
<div id="contact-info">
    <p>Hope Lourie Killcoyne, NYC</p>
    <p>Photographer | Writer | Editor | Developer</p>
    <p id="e-mail"><a href="mailto:hkillcoyne@gmail.com">hkillcoyne@gmail.com</a></p>
</div>
<div id="images">
    <img src="images/contact/AnneFrank.jpg" alt="AnneFrank" height="350px" width="350px">
    <img src="images/contact/Atka.jpg" alt="Atka" height="350px" width="350px">
    <img src="images/contact/CivilRightsCover.jpg" alt="CivilRightsCover" height="350px" width="350px">
    <img src="images/contact/silent_roar.jpg" alt="silent_roar" height="350px" width="350px">
</div>
<footer>Rates for services available upon request.</footer>
