<link rel="stylesheet" href="stylesheets/photo_gallery.css">
<script src="js/helpers/helpers.js"></script>
<script src="js/photo_gallery.js"></script>

<div id="main-carousel-container">
    <div id="main-carousel">
        <img src="images/gallery_main/street-life/raymond.jpg" alt="raymond">
        <img src="images/gallery_main/street-life/silent-roar.jpg" alt="silent roar">
        <img src="images/gallery_main/street-life/nahshon.jpg" alt="nahshon">
        <img src="images/gallery_main/nyc-scenes/crocodile.jpg" alt="crocodile">
        <img src="images/gallery_main/street-life/roger.jpg" alt="roger">
    </div>
</div>

<div id="galleries">
    <h4>Galleries</h4>
    <div id="galleries-images">
        <div>
            <img src="images/gallery_main/street-life/silent-roar.jpg" alt="silent roar">
        </div>
        <p>Street Life</p>
        <div>
            <img src="images/gallery_main/farm-life/layla.jpg" alt="layla">
        </div>
        <p>Farm Life</p>
        <div>
            <img src="images/gallery_main/birds/egret.jpg" alt="egret">
        </div>
        <p>Birds</p>
        <div>
            <img src="images/gallery_main/nyc-scenes/crocodile.jpg" alt="crocodile">
        </div>
            <p>NYC Scenes</p>
        <div>
    </div>
</div>
<!-- <h4>HOPE LOURIE KILLCOYNE</h4> -->
