<link rel="stylesheet" href="stylesheets/photo_gallery.css">
<script src="js/helpers/helpers.js"></script>
<script src="js/photo_gallery.js"></script>

<div id="main-carousel-container">
    <div id="main-carousel">
        <img src="images/gallery_main/raymond.jpg" alt="raymond">
        <img src="images/gallery_main/silentroar.jpg" alt="silent roar">
        <img src="images/gallery_main/nahshon.jpg" alt="nahshon">
        <img src="images/gallery_main/crocodile.jpg" alt="crocodile">
        <img src="images/gallery_main/roger.jpg" alt="roger">
    </div>
</div>

<div id="galleries">
    <h4>Galleries</h4>
    <div id="galleries-images">
        <div>
            <img src="images/gallery_main/raymond.jpg" alt="raymond">
            <p>Raymond</p>
        </div>
        <div>
            <img src="images/gallery_main/silentroar.jpg" alt="silent roar">
            <p>Street Life</p>
        </div>
        <div>
            <img src="images/gallery_main/nahshon.jpg" alt="nahshon">
            <p>Nahshon</p>
        </div>
        <div>
            <img src="images/gallery_main/crocodile.jpg" alt="crocodile">
            <p>Hungry 4 Fish</p>
        </div>
    </div>
</div>
<!-- <h4>HOPE LOURIE KILLCOYNE</h4> -->
