<link rel="stylesheet" href="stylesheets/photo_gallery.css">
<script src="js/helpers/helpers.js"></script>
<script src="js/photo_gallery.js"></script>

<div id="main-carousel">
    <img src="images/gallery_main/raymond.jpg" alt="raymond">
    <img src="images/gallery_main/silentroar.jpg" alt="silent roar">
    <img src="images/gallery_main/nahshon.jpg" alt="nahshon">
    <img src="images/gallery_main/crocodile.jpg" alt="crocodile">
</div>
<div id="galleries"></div>
<h4>HOPE LOURIE KILLCOYNE</h4>
