<link rel="stylesheet" href="stylesheets/photo_gallery.css">
<script src="js/helpers/helpers.js"></script>
<script src="js/photo_gallery.js"></script>

<div id="main-carousel-container">
    <div id="main-carousel">
        <img src="images/gallery_main/farm-life/layla.jpg" alt="">
        <img src="images/gallery_main/street-life_raymond.jpg" alt="raymond">
        <img src="images/gallery_main/silentroar.jpg" alt="silent roar">
        <img src="images/gallery_main/nahshon.jpg" alt="nahshon">
        <img src="images/gallery_main/crocodile.jpg" alt="crocodile">
        <img src="images/gallery_main/roger.jpg" alt="roger">
    </div>
</div>

<div id="galleries">
    <h4>Galleries</h4>
    <div id="galleries-images">
        <div>
        <img src="images/gallery_main/street-life_raymond.jpg" alt="raymond">
        </div>
            <p>Street Life</p>
        <div>
            <img src="images/gallery_main/street-life_silent-roar.jpg" alt="silent roar">
            <img src="images/gallery_main/street-life_nahshon.jpg" alt="nahshon">
            <img src="images/gallery_main/street-life_raymond.jpg" alt="raymond">
            <img src="images/gallery_main/street-life_roger.jpg" alt="roger">
            <img src="images/gallery_main/street-life_three-different-worlds.jpg" alt="three different worlds">
        </div>
            <p>Farm Life</p>
        <div>
            <img src="images/gallery_main/farm-life_deer-crossing.jpg" alt="deer crossing">
            <img
            src="images/gallery_main/farm-life_goat-pupil.jpg" alt="goat pupil">
            <img src="images/gallery_main/farm-life_layla.jpg" alt="layla">
        </div>
            <p>Birds</p>
        <div>
        <img src="images/gallery_main/birds_adolescent-hawk.jpg" alt="adolescent hawk">
        <img src="images/gallery_main/birds_egret.jpg" alt="egret">
        <img src="images/gallery_main/birds_hawk-building.jpg" alt="hawk, building">
        </div>
            <p>NYC Scenes</p>
        <div>
        <img src="images/gallery_main/crocodile.jpg" alt="crocodile">
        <img src="images/gallery_main/breakfast-at-tiffanys.jpg" alt="breakfast at tiffany's">
        <img src="images/gallery_main/gw-bridge.jpg" alt="george washington bridge">
        <img src="images/gallery_main/washington-square-arch.jpg" alt="washington square arch">
    </div>
</div>
<!-- <h4>HOPE LOURIE KILLCOYNE</h4> -->
