body {
    background-color: grey;
    background-image: none;
    text-align: center;
}

nav {
    background-color: rgba(240,229,182,0.1);
}

#contact-info {
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
}

#contact-info p {
    margin: 0;
}

#contact-info #e-mail {
    margin-top: 12px;
    text-decoration: underline;
}

#images {
    height: 350px;
    width: 100%;
    text-align: center;
}

img {
    position: relative;
    opacity: 0;
    display: none;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px #555555;
    -webkit-box-shadow: 5px 5px 5px #555555;
    box-shadow: 5px 5px 5px #555555;
    top: -20px;
}

footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
}
