body {
    background-color: #FCFCFC;
    background-image: none;
    text-align: center;
}

nav {
    background-color: rgba(240,229,182,0.1);
}

#main-carousel {
    position: relative;
    height: 400px;
    width: 100%;
}

#main-carousel img {
    height: 100%;
}

h4 {
    font-weight: lighter;
}
