body {
    background-color: #FCFCFC;
    background-image: none;
    text-align: center;
    overflow: hidden;
}

nav {
    background-color: rgba(240,229,182,0.1);
}

#main-carousel-container {
    height: 450px;
    width: 700px;
    float: left;
}

#main-carousel {
    position: absolute;
    left: 31%;
    height: 450px;
}

#main-carousel img {
    height: 450px;
    position: relative;
    left: -50%;
}

#main-carousel img:not(:first-child) {
    opacity: 0;
}

#galleries {
    position: fixed;
    overflow-y: scroll;
    right: 0;
    width: 425px;
    height: 450px;
}

h4 {
    font-weight: lighter;
    margin-bottom: 10px;
}

#galleries img {
    width: 200px;
    margin: 10px;
}
