body {
    background-color: grey;
    background-image: none;
    text-align: center;
}

header {
    margin-top: 45px;
    font-size: 30px;
}

#contact-info {
    text-align: left;
    margin-left: 50px;
}

#contact-info p {
    margin: 0;
}

#contact-info #e-mail {
    margin-top: 12px;
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 40px;
    width: 100%;
}
